// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Fonts

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               false !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               .0625rem !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                    #fff !default;
$body-color:                 $gray-dark !default;


// Links
//
// Style anchor elements.

$link-color:                 $brand-primary !default;
$link-hover-color:           darken($link-color, 15%) !default;
$link-hover-decoration:      underline !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             16px !default;

$font-size-base:             1rem !default;
$font-size-lg:               1.25rem !default;
$font-size-sm:               .85rem !default;
$font-size-xs:               .75rem !default;

$font-size-h1:               2.5rem !default;
$font-size-h2:               2rem !default;
$font-size-h3:               1.75rem !default;
$font-size-h4:               1.5rem !default;
$font-size-h5:               1.25rem !default;
$font-size-h6:               1rem !default;

$display1-size:               3.5rem !default;
$display2-size:               4.5rem !default;
$display3-size:               5.5rem !default;
$display4-size:               6rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;

$line-height:                1.5 !default;

$headings-margin-bottom:     ($spacer / 2) !default;
$headings-font-family:       inherit !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;

$lead-font-size:             1.25rem !default;
$lead-font-weight:           300 !default;

$text-muted:                  $gray-light !default;

$abbr-border-color:           $gray-light !default;

$blockquote-small-color:      $gray-light !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $gray-lighter !default;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width !default;


@import 'bootstrap-4.0.0-alpha.6';

// custom CSS for Pingendo

body > * {
  background-size: cover;
  background-repeat: none;
  background-position: center ;
}
